{% extends "base.html" %}


{% block content %}
<style type="text/css">
    body {
  font-family: 'Montserrat', sans-serif;
  background-color:#beeafb;
  color: #fff;
}
h5{
    color:black;
    font-weight: bold;
}
  label {
    color: black;
  }

</style>
<div style="margin-bottom:300px;margin-top:200px">

<div class="container emp-profile mt-5" style="background-color:white;padding:30px;">
            <form method="get" action="/payment/">
                <div class="row mt-4">
                    <div class="col-lg-4">
                        
                    </div>
                    <div class="col-md-6" style="margin-top:50px">
                        <div class="profile-head" style="margin-bottom:20px">
                                    <h5>
                                        {{user.first_name}} {{user.last_name}}                                    </h5>
                                    <p class="proile-rating">{{profile.current_plan}}</p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-4">
                        
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Customer Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.username}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.first_name}} {{user.last_name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{profile.mobile_no}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Join Date</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.date_joined}}</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Plan</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{profile.current_plan}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Monthly Rate</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{profile.plan_amount}} ₹</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Due Date</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{profile.due_date}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Availability</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{available}} days</p>
                                            </div>
                                        </div>
                                        {% csrf_token %}
                                        <a href="/payment/"><button>Pay Now</button></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>
</div>
{% endblock content %}