{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container sub-container1" style="margin-top: 50px;">
  
    <div class="section-title">
          <h2 style="font-weight: normal;"> Profile </h2>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="pf-user">
          <img src="{% static 'img/user.png' %}" class="rounded mx-auto d-block" width="140" height="140" style="margin-bottom: 10px;">
          <p class="text-center"><b>{{user.first_name}} {{user.last_name}}</b></p> <br>

<b>Customer Id:</b> {{user.username}}<br><br>

<b>Name:</b> {{user.first_name}} {{user.last_name}}<br><br>

<b>Email:</b> {{user.email}}<br><br>

<b>Phone:</b> {{profile.mobile_no}}<br><br>

<b>Join Date:</b> {{user.date_joined}}<br><br>

        </div>
      </div>   
      <div class="col-md-8">
        <div class="pf-pay"><h3> Billdesk </h3>
          
          <br>
          <span style="float: right;"> Due Date: {{profile.due_date}} </span>
          <span style=""> Plan: {{profile.current_plan}}</span>
          <br>
          <span style=""> Monthly Rate: {{profile.plan_amount}} ₹ </span>
          <span style="float: right;"> Availability: {{available}} days </span>
          
          <br>
          <br>
          <a href="/payment/"><button class="paynow-btn text-left" >PAY NOW</button></a>
        </div>
        <div class="pf-trans">
          <br>
          <h3> Transactions </h3>
          <!-- <h3> No Transaction</h3> -->

          <br>
          <table>
             
            <tr>
              <td><b>ID</b></td>
              <td><b>Status</b></td>
              <td><b>Price</b></td>
              <td><b>Date</b></td>
              <td><b>Check</b></td>
            </tr>
            {% for tran in transaction %}
            <tr>
              <td>{{tran.payment_id}}</td>
              <td>{% if tran.success %} Success{% else %} Fail{% endif %}</td>
              <td>{{tran.amount}} ₹</td>
              <td>{{tran.date}}</td>
              <td><a href="#">View</a></td>
            </tr>
            {% endfor %}
          </table>
            
        </div>
      </div>
    </div>
  </div>

{% endblock content %}