{% extends "base.html" %}
{% load static %}
{% block content %}




<div class="container sub-container1" style="margin-top: 50px;">
  
      <div class="section-title">
            <h2 style="font-weight: normal;"> Login </h2>
      </div>

      <div class="row">
      <div class="col-md-6">
                <img class="text-center" src="{% static 'img/login.gif' %}" alt="login" style="width: 100%;">
      </div>
            
      <div class="col-md-6">

                
                <form action="/login/" name="login" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputEmail1">Customer ID</label>
                      <input type="username" name="username" class="form-control form1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required="">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" name="password" class="form-control form1" id="exampleInputPassword1" placeholder="Password" required="" >
                    </div>

                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                         <p onclick="forpass();" style="cursor: pointer; float:right;">Forget Password ??</p>
                    </div>

                    <button type="submit" class="login-btn" style="">Login</button>
                    <br>
                    <br>
                    <p style="color:green;font-weight:bold;">{{request.GET.success}}</p>
                  </form>

                <br><br>

                <div id="forget-div" style="display: none;">
                  <form action="/password_reset/" name="login" method="post">
                    {% csrf_token %}
                    <p><b>Forget Password</b></p>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Email</label>
                      <input type="email" name="email" class="form-control form1" id="exampleInputPassword1" placeholder="Email" required="" >
                      <br>
                    <button type="submit" class="login-btn" style="">Submit</button>
                    <p onclick="forpassHide();" style="cursor: pointer; float:right;">Hide</p>
                    </div>
                  </form>
                </div>


          </div>
        </div>
  </div>
  <script type="text/javascript">
  

function forpass() {
   document.getElementById("forget-div").style.display = "block";
}
function forpassHide() {
   document.getElementById("forget-div").style.display = "none";
}

</script>
{% endblock %}