{% load static %}
<style type="text/css">
form{
    margin-top:20%;
}
.section-title h2 {
font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    font-weight: 100;
        word-break: break-all;
    color: #3f3f3f;
    text-align: center;
    padding-bottom: 4px;
    letter-spacing: 2px;
    /* margin-bottom: 20px; */
    text-transform: capitalize;
    /* border-bottom: 3px solid #cecece; */
    /* border-bottom: 2px solid; */
    /* border-image: linear-gradient(to right, black, #bcbcbc, transparent) 1; */
}

 
</style>

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
{% if validlink %}
<div class="container sub-container1" style="margin-top: 50px;">
    
      <div class="section-title">
            <h2 style="font-weight: normal;"> Reset Password </h2>
      </div>
      <div class="row">
      <div class="col-md-6">
                <img class="text-center" src="{% static 'img/login.gif' %}" alt="login" style="">
      </div>
            
      <div class="col-md-6">
  
        <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputEmail1">Password</label>
                      <input type="password" name="new_password1" class="form-control form1" id="exampleInputPassword1" placeholder="Enter password" required="">
                    </div>

                    <div class="form-group">
                      <label for="exampleInputPassword1">Confirm Password</label>
                      <input type="password" name="new_password2" class="form-control form1" id="exampleInputPassword1" placeholder="Confirm Password" required="" >
                    </div>


                    <button type="submit" class="login-btn" style="">Reset Password</button>
             <p> {{ form.new_password1.errors }}</p>
            <p>{{ form.new_password2.errors }}</p>
                  </form>

    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
    </div>
</div>
</div>
